html *{padding:0;margin:0;box-sizing:border-box;font-family:lato;outline:none;}

html{background:#e8ebeb;}
html,body{width:100%;min-height:100%;color:#696969;background:#e8ebeb !important;}
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
/*body{max-width:1040px;margin: 0 auto;background:red;}*/
header{background:#ffffff;max-width:1250px;margin-left:auto;margin-right:auto;position:relative;}
#outpreheader{background:#393939;position:absolute;top:0;color:white;width:100%;margin-left:auto;margin-right:auto;line-height:0.9em;font-size:0.9em;margin-bottom:0;padding-bottom:0;}
#preheader{background:#393939;color:white;max-width:1040px;margin-left:auto;margin-right:auto;font-size:0.9em;padding-top:5px;margin-bottom:0;padding-bottom:5px;}
#preheader span.fa{padding-left:10px;padding-right:10px;font-size:18px;}
#preheader span:not(.halfspan){padding-left:10px;padding-right:10px;font-size:14px;}
#mappy{display:inline-block;float:right;}
#containmid{width:100%;margin:auto;padding-top:30px;}
#midheader{max-width:1040px;margin:auto;background:#ffffff;padding-top:20px;padding-bottom:15px;padding-left:30px;line-height:40px;}

#midheader span.fa{font-size:28px;}

#midheader {display:flex;justify-content:space-around;flex-wrap:wrap;}
#midheader p #inputsearch{
background-image:url(img/loupe.svg);
background-repeat: no-repeat;
background-size:auto 80%;
background-position:right;
padding:0 20px 0 5px;
font-style:italic;
}
dt{white-space:nowrap;}
.logotext a{	font-size:22px;display:inline-block;
	font-family:arial;
	font-weight:bold;position:relative;background-color:#393939;color:white;padding:0 10px 0 30px;}
.imglogo{position:absolute;left:-30px;top:-15px}

.logosearch{width:66%;}
#midheader span.fa{font-size:28px;padding-left:15px;padding-right:15px;color:#558540;}
.orange{color:#f19319;}
.clear{clear:both;}
header ul{list-style:none;}
.top-li > label{display:inline-block;width:100%;height:25px;float:left;cursor:pointer;background-color:red;}
.labelopener{z-index:999;}
.labelcloser{z-index:1;}
.bordlab{z-index:-2;padding-bottom:7px;}
#bottomheader{background:orange;width:100%;}
.nav{display:block;background:#f7f7f7;position:relative;width:100%;}
.sub{display:none;}
.menu li.top-li{float:left;}
.menu li#top-right-li{float:right;display:inline-block;}
.menu li#top-right-li a{display:block;font-size:15px;line-height:35px;background:#393939;color:#f19319;padding-bottom:9px;padding-top:5px;padding-left:13px;padding-right:13px;}
.menu li.top-li a.top-a {display:block; float:left; text-align:left; line-height:35px; padding:0 23px 0 0; color:#444;padding-top:5px; text-decoration:none; font-size:15px; white-space:nowrap;}

.menu div {background:pink; width:100%;position:absolute; padding:10px 0; border-radius:5px;margin-left:auto;margin-right:auto;}

.clear {clear:both;}
.menu div dl {padding:10px 15px; margin:0; cursor:pointer; float:left; width:25%;}
.menu div dt {display:block; padding:5px; margin:0; font-size:14px; line-height:20px; border-radius:3px;}

.menu div dd {display:block; padding:0; margin:0;}
.menu div dd a {line-height:28px; color:#696969;display:block; margin:2px 0; padding:0 5px; text-decoration:none; font-size:13px; white-space:nowrap; border-radius:3px;}
.menu div dd a:hover {text-decoration:underline; background:#aaa; color:#000;}
.menu li.top-li{max-width:1040px;}

#bottomheader label:not(.smallopen){display:inline-block;width:100%;position:absolute;right:0;height:100%;cursor:pointer;}
.secondwrapper{max-width:1040px;background:gold;}
#bottomheader .fa.fa-minus,#bottomheader .fa.fa-plus{display:none;}
.resub{width:100%;}
.menu{width:100%;}
.top-li > p{position:relative;display:inline-block;}
div.sub.resub{padding-left:8%;padding-right:8%;position:absolute;left:0;}
div#bottomheader div.nav{padding-left:8%;padding-right:8%;}
.sub#p1{background:#ffffff;}
.sub#p2{background:#ffffff;}
.sub#p3{background:#ffffff;}
.sub#p4{background:#ffffff;}

.radiocloser:checked ~ .sub{display:none;}

.radioopener:checked ~ .sub{display:initial;}
input[type=radio]{display:none;}
.radioopener:checked + p .labelopener{z-index:-1;}
.radioopener:checked + p .labelcloser{z-index:999;}
.radioopener:checked ~ p a .bordlab{border-bottom:4px solid #558540;}
dl dt{font-weight:600;}
span.fa.fa-map-o{font-size:23px;}

.hamburger{padding-right:5px;margin-left:0px;display:none;}
#midheader span.fa.glyphicon-user{font-size:24px;}

p.alllink{padding-left:15px;}
span.fa-X{display:inline-block;font-size:30px;font-weight:300;transform:scaleX(1.5);}
dt label.smallclose,dt label.smallopen{display:none;}

.nav{height:50px;}

#midheader span.fa.fa-bars{padding-left:0;}
.menu .fa-caret,.alllink a{color:#558540;}
.alllink a{text-transform:uppercase;font-weight:bold;}
.menu div dl{padding-top:30px;}
.alllink a span.fa-caret-right.after{padding-left:15px;}

/*----------------------------------------------------------------------------------------------*/
/***************************** Zone fiche produit ***********************************************/
/*----------------------------------------------------------------------------------------------*/
#product-top {
	max-width: 1040px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	background: #FFFFFF;
}
.breadcrump {
	font-size:12px;
	padding: 10px 10px 0px 10px;
}
.product {
	display: flex; 
	flex-wrap: wrap;
}	
.vues {
	padding: 16px 11px 11px 12px; 
	flex-direction:column;
	}
.vues img {
	border: solid 1px #eee8e3;
	margin: 3px 0px;
}
.main-vue {
	margin: 13px 15px 67px 14px;
}
.descriptif {
	padding: 20px 15px 0px 16px;
	width: 37%;
}
.intitule {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.2;
	margin-bottom: 5px;
}
.avis{
	margin: 15px 0px 17px 0px;
}
.avis div{
	display: inline-block;
}
#expert {
	margin: 8px 0px 5px 0px;
}
#client {
	margin: 7px 0px 5px 0px
}
.col1{
	width: 120px;
	font-weight: bold;
}
.col2{
	padding-right: 9px;
}
.col4{
	font-size: 12px;
	color: #558540;
	padding-left: 10px;
	text-decoration:underline;
}
.coloris {
	padding-top : 8px;
	}
#dispo {
  color: #62605e;
}
.thumb_coloris{ 
	display: flex;
	padding-top: 14px;
}
.thumb_coloris img{
	border: solid 1px #eee8e3;
	margin-right: 16px; 
	flex-direction: row;
}
.social {
	border-top: 1px solid #eee8e3;
	width: 100%;
	margin-top: 19px;
	}
.social_pictos { 
	display: flex;
	padding-top: 14px;
	padding-left: 4px;
}
.social_pictos img {
	margin-right: 12px; 
	flex-direction: row;
}
.achat {
	margin-left: 16px;
	padding: 15px 12px 0px 15px;
	margin-bottom: 30px;
	border: 1px solid #eee8e3;
}
.prix {
	padding-bottom: 15px;
	border-bottom: 1px solid #eee8e3;
}
.prix p{
	display: inline-block;
}
#old {
	font-size: 12px;
	color: #62605e;
	text-decoration: line-through;
	padding-right: 50px;
 }
 #new {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	color: #558540;
	padding-right: 12px;
 }
 #ttc {
	font-size: 12px;
	font-weight: bold;
	color: #558540;
 }
.pointure {
	padding-bottom: 17px;
	margin-bottom: 19px;
	border-bottom: 1px solid #eee8e3;
	padding-right: 5px;
}
.pointure p{
	display: inline-block;}

#taille {
	font-size: 16px;
	color: #333231;
	margin-right: 52px;
 }
 #choix_taille {
	font-size: 14px;
	color: #333231;
	margin-top: 16px;
	margin-left: 52px;
	border: 1px solid #eee8e3;
	padding: 5px 0px 6px 14px;
}
.pointure img {
	margin-left: 13px;
	margin-right: 11px;
}
.panier {
	border-bottom: 1px solid #eee8e3;
}
.panier_btn{
	border-radius: 2px;
	background-color: #558540;
	margin: 0px 5px 15px 2px;
}
.panier p{
	font-size: 16px;
	font-weight: bold;
	color: #fefefe;
	padding: 12px 24px 14px 26px; 
}
#livraison {
	margin: 15px 0px 20px 5px;
}
.stock {
	padding-bottom: 5px;
	font-weight: bold;
	color: #03733d;
}
.stock img {
	padding-right: 17px;
}
.expedition {
	padding-top: 3px;
	color: #62605e;
}
.expedition span{
	color: #03733d;
	font-weight: bold;
}
.expedition img {
	padding-right: 9px;
}
.expedition p{
	padding-left: 36px; line-height: 12px;
}
.nuancier span{cursor:pointer;display:inline-block;width:17px;height:17px;border-radius:50%;margin-left:5px;}
.nuancier span.gris{background:#e5e2e7;}
.nuancier span.orange{background:#fa9751;}
.nuancier span.blue{background:#6baffa;}
.nuancier{display:none;}
/*----------------------------------------------------------------------------------------------*/
/***************************** Zone fiche produit ***********************************************/
/*----------------------------------------------------------------------------------------------*/
@media (max-width : 1005px){
	header{z-index:44;}
	.product{position:relative;z-index:0;}
	.vues{flex-direction:row;display:inherit;height:70px;}
	.main-vue{position:absolute;top:75px;left:0;overflow:hidden;z-index:-1;}
	
}
@media (max-width : 893px){
	.main-vue{position:initial;text-align:center;margin-right:0;margin-left:0;}
	.main-vue img{width:70%;}
	.vues{display:none;}
	.descriptif{padding:0;}
	.achat{margin:0;}
	.nuancier{position:absolute;left:-116px;bottom:80px;}
}
@media (max-width : 893px){
	.intitule p{position:absolute;left:10px;top:8px;}
	.main-vue{margin-top:100px;}
	#expert{display:none;}
	#client .col1{display:none;}
	.nuancier{display:inherit;}
	#client{position:absolute;left:10px;top:30px;}
	.social{position:absolute;bottom:0;left:10px;}
	.main-vue{margin-top:100px;text-align:center;padding-bottom:30px;flex:1;}
	.achat{flex:1;}
	.coloris{display:none;}
	.descriptif{padding:0;width:auto;}
	.achat{margin-top:50px;}
	.product{justify-content:center;}
	#product-top{padding-left:15px;}
	.social{border:none;}
	/*.prix{position:absolute;top:80px; left:0;border:none;margin-left:auto;margin-right:auto;
	text-align:center;}*/
	
	
}
@media (max-width : 477px){
	.panier_btn p{font-size:13px;}
	.main-vue img{width:70%;}
	.vues{display:none;}
	.product{position:relative;}
	.intitule p{position:absolute;left:10px;top:0;}
	#expert{display:none;}
	#client .col1{display:none;}
	#client{position:absolute;left:10px;top:45px;}
	.main-vue{margin-top:100px;text-align:center;}
	.coloris{display:none;}
	.descriptif{padding:0;width:auto;}
	.social{position:absolute;bottom:0;left:10px;}
	.achat{margin-top:50px;}
	.social{display:none;}
	/*.nuancier{position:absolute;top:45px;right:45px;}*/
	
	.stock{position:absolute;left:-110px;bottom:40px;}
	.expedition{display:none;}
	.achat{position:absolute;bottom:0;right:20px;margin:0;padding:0;border:none;}
	.pointure{padding:0;margin:0;border:none;}
	.panier{border:none;padding:0;margin:0;margin-top:10px;text-align:center;}
	#choix_taille{margin:0;padding:0;}
	#new{font-size:20px;}
	.panier p{padding:6px 12px 7px 13px;}

	
}





/*----------------------------------------------------------------------------------------------*/
/******************************* zone des détails desktop****************************************/
/*----------------------------------------------------------------------------------------------*/

#details{max-width:1040px; margin-left:auto;margin-right:auto;margin-top:20px;}
.panel{background:#fff;}
/* ----------------------------   slideshow  --------------------------------*/
.leftpanel{width:67%;background:white;float:left;}
.rightpanel{width:33%;float:left;background:white;}

div.img {
    float: left;
    width: 100%;
	height:auto;
	position:relative;
}
div.img img {
    width: 100%;
    height: auto;
	padding-bottom:8px;
}
div.desc {
    text-align: center;
	font-weight:bold;
}

div.responsive{width:100%;padding:30px;}
div.responsive{display:none;}

label.controle{border:none;font-size:40px;color:#f19319;display:inline-block;background:white;}
label.controle{border:none;font-size:40px;color:#f19319;display:inline-block;background:white;}
label.contleft{padding-right:12px;position:absolute;left:0;top:50%;transform: translateY(-50%);}
label.contright{padding-left:12px;position:absolute;right:0;top:50%;transform: translateY(-50%);}
label.medium{display:none;}
.imgshow:checked + div.responsive{display:block;}

/* ----------------------------   panneau description  --------------------------------*/
#details h2 .fa.fa-caret-right{color:green;}
div.argument {margin:10px;}
label.descpan{display:inline-block;padding:6px 20px;}
#details h3 .fa.fa-check{font-size:20px; color:orange;}
#details h3{padding-bottom:8px;padding-top:12px;}
#details .argument:not(:first-of-type){border-top:1px solid #eee8e3;}
.panel{background:white;padding:15px 0 15px 17px;}
#caracteristiques, #avisclients{padding-right:17px;}
.argument p{padding-bottom:8px;}
.panel{display:none;}
label.descpan{background:#f6f9f9;border-right:4px solid #e8ebeb;border-bottom:4px solid #e8ebeb;cursor:pointer;}
#radpan01:checked ~ p label:nth-of-type(1){background:white;border-bottom:4px solid white;}
#radpan01:checked ~ div.panel:nth-of-type(1) {display:block;}
#radpan02:checked ~ p label:nth-of-type(2){background:white;border-bottom:4px solid white;}
#radpan02:checked ~ div.panel:nth-of-type(2) {display:block;}
#radpan03:checked ~ p label:nth-of-type(3){background:white;border-bottom:4px solid white;}
#radpan03:checked ~ div.panel:nth-of-type(3) {display:block;}
#caracteristiques div{padding-top:15px;padding-bottom:15px;}
#caracteristiques p{padding-top:5px;padding-bottom:5px;}
#avisclients ul{list-style:none;padding-top:30px;}
#avisclients .identity{font-weight:bold;}
#avisclients li{padding-top:15px;}
#details .fa.fa-star.oui{color:#f19319}
#details label span.fa.pane{display:none;}


/*----------------------------------------------------------------------------------------------*/
/******************************* Autres produits ***************************************/
/*----------------------------------------------------------------------------------------------*/
.connexes{max-width:1040px; margin-left:auto;margin-right:auto;margin-top:20px;}
.autresprod{width:100%;background:white;padding-bottom:6px;}
.showautres{display:flex;}
.unprod{padding:10px 10px 10px 5px;border:1px solid #eee8e3;margin-right:1%; margin-left:1%;width:23%;}
.outwrap{width:100%;display:table;}
.imgwrap{height:200px;text-align:center;line-height:200px;display:table-cell;vertical-align:middle;text-align:center;width:100%;}
.unprod img{display:inline-block;width:auto;max-width:85%;margin-left:auto;margin-right:auto;max-height:100%;line-height:200px;}
.unprod .instead{font-size:11px;}
.unprod h3{height:75px;}
span.crossed{text-decoration:line-through;}
p.prix{font-size:17px;font-weight:bold;color:#558540;position:relative;line-height:17px;}
p.prix span.fa-star{font-size:13px;}
p.prix label{line-height:17px;display:inline-block;float:right;}
p.prix label .fa.oui{color:#f19319;}
p.prix label .fa.non{color:#eee8e3;}
.unprod h3{padding-left:5px;}
.unprod h3 a{color:#333231;}
.unprod div:not(.imgwrap){padding-left:10px;}
img{line-height:200px;}
.autresprod h2{padding:15px 0 15px 17px;}
.waterproof .outwrap{position:relative;}
.outwrap .badge{position:absolute;right:0;top:-25px;}

/*----------------------------------------------------------------------------------------------*/
/******************************* Services associés ***************************************/
/*----------------------------------------------------------------------------------------------*/
.footer{max-width:1250px;margin-left:auto;margin-right:auto;margin-top:45px;background:white;}
.associes{background:#393939;color:white;width:100%;}
.associes img{height:30px;width:auto;}
.associes ul{list-style:none;text-align:center;padding-top:20px;padding-bottom:20px;}
.associes ul li{display:inline-block;padding-left:20px;padding-right:20px;}
.associes figcaption{padding-top:11px;}


/*----------------------------------------------------------------------------------------------*/
/******************************* Moyens de paiement ***************************************/
/*----------------------------------------------------------------------------------------------*/
.paiements{background:white;width:100%;}
.paiements .special{display:none;}
.innerpaiement{max-width:1040px;margin-left:auto;margin-right:auto;}
.paiements ul.card{list-style:none;padding-top:20px;padding-bottom:20px;display:inline-block;line-height:30px;width:66%;}
.paiements ul.card li {display:inline-block;float:left;}
li.pay1{padding-left:8px;padding-right:7%;}
li.pay2{padding-right:3.5%;}
li.pay3{padding-left:3.5%;}
.paiements ul.nocard{list-style:none;padding-top:20px;padding-bottom:20px;display:inline-block;line-height:30px;width:33%;}
.paiements ul.nocard li{display:inline-block;float:left;}
.paiements .clearfix{display:none;}
.card  .pay1 span{display:inline-block;}
.card .cartes{padding-right:10px;}
.card .paypal{padding-left:30px;}
.span1{padding-right:30px;}
.nocard span{display:inline-block;margin-left:20px;background:#e5e5e5;padding:5px 15px 5px 15px}


/*----------------------------------------------------------------------------------------------*/
/******************************* Social newsletter  **************************************/
/*----------------------------------------------------------------------------------------------*/
.social2{background:#558540;padding-top:8px;padding-bottom:8px;color:white;}

.newswrap{max-width:1040px;margin:auto;padding-top:9px;padding-bottom:5px;}

.news{display:flex;flex-wrap:wrap;flex-direction: row;align-items:center;width:100%;justify-content:center;}
.news p{text-align:left;}
.news .fa{display:inline-block;padding:5px;color:#558540;background:white;margin-left:5px;}
.news .square{background:#393939;padding:2px 10px 2px 10px;}
p.iconic{display:table;width:130px;}
.news p:first-child{padding-right:1%;}
.news .barter{padding-left:3%;}
.news .fa{padding-right:3px;}
.news .lasttext{padding-left:5%;}


/*----------------------------------------------------------------------------------------------*/
/******************************* Footer autres liens  **************************************/
/*----------------------------------------------------------------------------------------------*/
.autresliens{max-width:1040px;margin:auto;display:flex;flex-wrap:nowrap;flex-direction: row;padding-top:20px;padding-left:8px;padding-right:8px;padding-bottom:25px;}
.autresliens > div{width:20%;flex:1;}
.autresliens .brand p{padding-right:15%;}

.autresliens h3{padding-top:20px;padding-bottom:25px;}
/*.logotrust{height:226px;background:url(img/images/trust.png);background-size:cover;background-repeat:no-repeat;}*/
.logotrust img{width:100%;}
.conseil h3,.conseil p{padding-left:20px;}
.autresliens div{padding-left:5px;padding-right:5px;}
.autresliens p,.cookies p{font-size:12px;}
.conseil .nombre{padding-top:40px;}
.conseil .rectgl{font-size:16px;font-weight:bold; background:#393939;color:#f19319;text-align center;padding:10px;}
.autresliens a, .cookies a{color:#62605e;text-decoration:underline;line-height:24px;}
.autresliens a:hover, .cookies a:hover{color:#558540;}

/*----------------------------------------------------------------------------------------------*/
/******************************* Cookies  **************************************/
/*----------------------------------------------------------------------------------------------*/
.cookies{max-width:1250px;margin-left:auto;margin-right:auto;width:100%;background:#f6f9f9;text-align:center;padding-top:25px;padding-bottom:6px;}



/*----------------------------------------------------------------------------------------------*/
/******************************* Footer autres liens  **************************************/
/*----------------------------------------------------------------------------------------------*/
@media (max-width : 892px){
	.conseil .rectgl{font-size:13px;}
}

@media (max-width : 775px){
	.autresliens .brand{display:none;}
	.autresliens .trust{display:none !important;}
	.autresliens h3{display:none;}
	.autresliens a{line-height:18px;}
	.autresliens p{padding:0;}
}
@media (max-width : 407px){
	.autresliens .more{display:none;}
}

/*----------------------------------------------------------------------------------------------*/
/******************************* Moyens de paiement ***************************************/
/*----------------------------------------------------------------------------------------------*/

@media (max-width : 773px){
	.paiements ul.card{display:block;width:100%;display:table;width:100%;text-align:center;padding-bottom:5px;}
	.paiements ul.nocard{display:block;width:100%;display:table;width:100%;text-align:center;padding-top:5px;}
	li.pay1{padding-left:4px;padding-right:1%;display:block;width:100%;}
	/*.paiements ul.nocard{display:table;width:100%;text-align:center;}*/
	/*.paiements ul.nocard li{margin:0;padding-left:15px;padding-right:15px;width:50%;text-align:center;display:table-cell;background:white;}*/
	.paiements ul.nocard li span{display:inline-block;padding-left:25px;padding-right:25px;background:#e5e5e5;padding-top:5px;padding-bottom:5px;}
	.paiements ul.nocard li{display:block;width:100%;text-align:center;background:white;}
	.paiements .special{display:initial;}
	.card .span1{font-weight:bold;}
}









/*----------------------------------------------------------------------------------------------*/
/******************************* Social newsletter  **************************************/
/*----------------------------------------------------------------------------------------------*/

@media (max-width : 863px){
	.news .firsttext, .news .lasttext{display:none;}
}
@media (max-width : 521px){
	.news .iconic{margin-top:15px;}
}






/*----------------------------------------------------------------------------------------------*/
/******************************* Services associés ***************************************/
/*----------------------------------------------------------------------------------------------*/


@media (max-width : 820px){
	.associes img{display:none;}
	.associes ul li{padding-left:5px;padding-right:5px;}
}
@media (max-width : 663px){
	.associes {display:none;}
}



/*----------------------------------------------------------------------------------------------*/
/******************************* Autres produits ***************************************/
/*----------------------------------------------------------------------------------------------*/

@media (max-width : 800px){
	.showautres{flex-wrap:wrap;}
	.unprod{width:47%;}
}
@media (max-width : 400px){
	.imgwrap{display:none;}
}






/*----------------------------------------------------------------------------------------------*/
/******************************* zone des détails responsive ************************************/
/*----------------------------------------------------------------------------------------------*/

@media (max-width : 830px) and (min-width : 420px){
	.leftpanel{float:none;width:100%;}
	.rightpanel{float:none;width:100%;overflow:nowrap;padding-left:1%;padding-right:1%;}
	div.responsive{width:50%;display:none;padding:2%;}
	.imgshow:not(.dernier):checked + div.responsive{display:inline-block;float:left;}
	.imgshow:not(.dernier):checked + div.responsive label.contright.medium{display:none;}
	.imgshow:not(.dernier):checked + div.responsive + input + div.responsive{display:inline-block;float:right;}
	.imgshow:not(.dernier):checked + div.responsive + input + div.responsive label.contleft.medium{display:none;}
	.imgshow.dernier:checked ~ div.responsive.derniere{display:inline-block;float:left;}
	.imgshow.dernier:checked ~ div.responsive.premiere{display:inline-block;float:right;}
	label.mini{display:none;}
	label.medium{display:inline-block;}
	/*.imgshow.dernier:checked + div.responsive.premiereimage {display:block;float:right;}*/
	#description{padding-right:17px;}
	
}
@media (max-width : 420px){
	.leftpanel{float:none;width:100%;}
	.rightpanel{float:none;width:100%;overflow:nowrap;padding-left:2%;padding-right:2%;}
	#description{padding-right:15px;}
}
@media (max-width : 508px){
	
	#entetes label{display:block;width:100%;position:relative;line-height:30px;}
	#entetes label span.fa.pane{display:inline-block;position:absolute;top:0;right:10px;line-height:30px;padding-top:6px;font-size:24px;}
	#entetes label span.fa.fa-minus{display:none;}
	#radpan01:checked ~ p label:nth-of-type(1) span.fa.fa-plus{display:none;}
	#radpan01:checked ~ p label:nth-of-type(1) span.fa.fa-minus{display:inline-block;}
	#radpan01:checked ~ p label:nth-of-type(1){border-bottom:4px solid #e8ebeb;}
	#radpan02:checked ~ p label:nth-of-type(2) span.fa.fa-plus{display:none;}
	#radpan02:checked ~ p label:nth-of-type(2) span.fa.fa-minus{display:inline-block;}
	#radpan02:checked ~ p label:nth-of-type(2){border-bottom:4px solid #e8ebeb;}
	#radpan03:checked ~ p label:nth-of-type(3) span.fa.fa-plus{display:none;}
	#radpan03:checked ~ p label:nth-of-type(3) span.fa.fa-minus{display:inline-block;}
	#radpan03:checked ~ p label:nth-of-type(3){border-bottom:4px solid #e8ebeb;}
	label.descpan{border-bottom:4px solid #e8ebeb;}
}




















/*----------------------------------------------------------------------------------------------*/
/******************************* header   *************************************/
/*----------------------------------------------------------------------------------------------*/
@media (max-width : 877px){
	
	#logotext a{font-size:14px;padding:0 3px 0 24px;}
	.imglogo{width:47px;left:-15px;top:-10px;}
	#midheader{line-height:25px;}
}
@media (min-width : 719px) and (max-width : 795px){
	span.fa:not(.fa-star) + span:not(.reso) {display:none;}	
	
}
@media (max-width : 775px){
	span.aide{display:none;}
	#inputsearch{
	padding:6px 5px 5px 5px;
	font-size:13px;
	width:270px;
	background-position:right top;
	margin-right:auto;margin-left:auto;
	}
	header{align-items: center;
    justify-content: center;}
	#midheader{padding-left:5px;}
	div#bottomheader div.nav{padding-left:1%;padding-right:1%;}
}
@media (max-width : 451px){
	span.fa:not{.fa-star} + span {display:none;}	
}

/*@media (max-width : 762px){
			#preheader{
		position:absolute;
		bottom:0;
			width:100%;}
    }*/
@media (min-width : 771px){
	#fauser{order:+1;}
	#facart{order:+1;}

}
#midheader #inputli{width:33%;}



@media (max-width : 720px){
#outpreheader{position:static;margin-top:1px;}
#preheader{margin:0;}
#midheader{padding-top:0;padding-bottom:0;}
#midheader label{display:inline-block;width:35px;text-align:center;}
#midheader label.openmenu{text-align:left;}
#midheader label.closemenu{display:none;}
#midheader p #inputsearch {margin-top:20px;}
#midheader span.fa{padding-left:4px;padding-right:4px;}
.hamburger{display:inline-block;}
#preheader{margin:0;}
#preheader span.halfspan{display:inline-block;width :50%;background:white;text-align:center;padding:2%;}
#preheader span.halfspan span.halfspan{background:black;padding:12px 0 12px 0;width:100%;color:white;font-size:1.3em;}
#preheader{background:white;padding:3px;}
#preheader span.fa-phone.orange ~ span.orange{color:white;}
#preheader span:not(.halfspan){padding-left:5px;padding-right:5px;font-size:14px;}

#radiobigopen:checked ~ #containmid #bottomheader .menu{display:block;}
#radiobigopen:checked ~ #containmid #midheader p.hamburger label.openmenu{display:none;}
#radiobigopen:checked ~ #containmid #midheader p.hamburger label.closemenu{display:block;}
#radiobigclose:checked + #bottomheader{display:none;}
#radiobigopen:checked ~ #containmid #midheader p.inputli{display:none;}
#bottomheader .fa.fa-minus,#bottomheader .fa.fa-plus{display:inline-block;line-height:56px;}
#bottomheader li.top-li > p{display:block;width:100%;height:25px;font-size:25px;line-height:40px;margin-bottom:0;position:static;float:none;}
#bottomheader li.top-li p label{height:40px;}
div.sub.resub{display:block;padding-bottom:0;padding-top:0;padding-right:6px;padding-left:0;position:static;}
.nav{background:white;height:auto;}
.menu li.top-li{float:none;width:100%;clear:both;}
li.top-li a{display:block;}
.menu li#top-right-li{float:none;display:list-item;clear:both;}
.menu{display:none;}
dd a{display:block;}
.menu div dl{float:none;width:100%;}
#bottomheader li.top-li p .labelopener,#bottomheader li.top-li p .labelcloser{width:100%;text-align:right;font-size:24px;color:#696969;padding-right:22px;line-height:40px;height:56px;}
#bottomheader li.top-li p{padding-left:15px;line-height:40px;overflow:visible;height:auto;position:relative;line-height:56px;}
.menu li.top-li a.top-a{line-height:56px;padding-top:0px;}
.bordlab{padding-bottom:0;border:none;}
.radioopener:checked ~ p a .bordlab{border-bottom:none;}
.menu li.top-li a.top-a{float:none;}
div.sub.resub{display:none;}
.radioopener:checked ~ .sub{display:block;}
p.alllink{margin-top:1px;clear:both;text-transform:uppercase;}
dt{display:block;width:100%;}
#bottomheader ul.menu  dt{position:relative;width:100%;line-height:35px;}
dt label.smallopen,dt label.smallclose{display:inline-block;position:absolute;right:0;width:100%;top:0;height:100%;text-align:right;cursor:pointer;font-size:24px;line-height:35px;color:#696969;}
.menu div dd{display:none;}
label.smallclose{z-index:-1;}
label.smallopen{z-index:998;}
.ddopener:checked  + input + dl  dt  label.smallopen{z-index:-1}
.ddopener:checked + input + dl  dt  label.smallclose{z-index:998;}
.ddopener:checked + input + dl  dt{color:#558540;}
.ddopener:checked + input + dl dd{display:block;}
label{cursor:pointer;}
.fa.fa-caret-right.after{display:inine-block;padding-left:15px;color:#558540;}
/*.menu dl{border-top:1px solid #eee8e3;}*/
li.top-li{border-bottom:1px solid #eee8e3;}
.menu div dl{padding-top:6px;}
.menu div dl dt{padding-bottom:10px;}
a.top-a{font-weight:600;}
.menu div  dd{padding-left:10px;padding-top:18px;}

.menu div dt{border-top:1px solid #eee8e3;}
.menu div dd{border-top:1px solid #eee8e3;}

}






.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */